doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        link(rel="stylesheet" href="./css/HETU_C.css")
    title HEUT HTTP TEST
    body 
        input(id="postDataInput" type='number' placeholder="container number")
        input(id="postDataInput2" type='number' placeholder="And Point")
        button(id="postDataBtn") B
        script(src="./js/HETU_J.js")